{
  #debug
}

:80

redir /spiele/ /spiele
redir /spiele /spiele/aktuell

@game path_regexp game ^\/spiele\/aktuell(.*)$
rewrite @game /spiele/25_hase-und-igel{re.game.1}
@trail path_regexp trail ^(.*)/$
rewrite @trail {re.trail.1}

root * /srv
try_files {path}.html {path}
file_server

route /update-content {
    validate_github {$GITHUB_SECRET}
    exec * /update-content.sh
}

handle_errors {
  #rewrite * {
  #  r ^/ent$
  #  to /entwicklung
  #}
  #redir /ent {rewrite_uri}
  redir * ..
}
